<div style="background-image: url(*/assets/3vot-hangouts-bg.jpg);">
  <div class="container" >
     <div class="row">
      <nav class="navbar col-md-12 col-sm-12 col-xs-12" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand logo" href="http://www.3vot.com"></a>
        </div>
      </nav><!-- Navbar -->
    </div><!--Row-->
    
    <h3 class=" text-inverse text-center">Welcome to 3vot's</h3>
    <h1 class="text-center text-inverse page-header">Resource Guide</h1>
    <br><br>
    
    <div class="col-md-10 col-md-offset-1">
      
       <div class="row">
        <a href="http://www.3vot.com" class="panel-3vot bg-primary">
          <div class="panel">  
            <div class="panel-body text-center">
              Our website
              <span class=" pull-right glyphicon glyphicon-chevron-right btn-icon"></span>
            </div>
          </div>
        </a>
       </div><!--Website Panel-->
      
       <div class="row">
         <a href="http://www.facebook.com/3votCorp" class="panel-3vot bg-info">
          <div class="panel">  
            <div class="panel-body text-center">
              Our Facebook<span class=" pull-right glyphicon glyphicon-chevron-right btn-icon"></span>
            </div>
          </div>
        </a>
       </div><!--Facebook Panel-->
      
      <div class="row">
        <a href="http://www.twitter.com/3vot" class="panel-3vot bg-success">
          <div class="panel">  
            <div class="panel-body text-center">
              Our Twitter<span class=" pull-right glyphicon glyphicon-chevron-right btn-icon"></span>
            </div>
          </div>
        </a>
       </div><!--Facebook Panel-->

      <div class="row">
        <a href="http://www.youtube.com/channel/UC0HB0wgGwjd7b_hcTeWS_Rw" class="panel-3vot bg-danger">
          <div class="panel">  
            <div class="panel-body text-center">
              Youtube Channel<span class=" pull-right glyphicon glyphicon-chevron-right btn-icon"></span>
            </div>
          </div>
        </a>
       </div><!--Youtube Panel-->
      
       <div class="row">
         <label class="text-center text-inverse" style="display:block">Front End as a Service Introduction Video</label>
        <div class="videoWrapper">
           <iframe width="640" height="360" src="//www.youtube.com/embed/7LAiGX6_4-s" frameborder="0" allowfullscreen></iframe>
        </div>  
       </div><!-- Front End as a Service Video-->
      
      <div class="row">
        <label class="text-center text-inverse" style="display:block">3vot Profiles & Marketplace Introduction Video</label>
        <div class="videoWrapper">
           <iframe width="640" height="360" src="//www.youtube.com/embed/ewhugA219m0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div><!-- Profiles & Marketplace Video-->
      
      <div class="row">
        <a href="http://www.3vot.com/features.html" class="panel-3vot bg-warning">
          <div class="panel">  
            <div class="panel-body text-center">
              Our Features<span class=" pull-right glyphicon glyphicon-chevron-right btn-icon"></span>
            </div>
          </div>
        </a>
       </div><!--Youtube Panel-->
      <br><br>
    </div>
    
  
  </div>
</div>